*{
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
    background-color: #38040e;
    padding: 20px 100px 20px ;
}

a:link { color: #e00d0d; }
a:visited { color: #d11111; }
a:hover { color: #ffffff8f; }
a:active { color: #000000; }
