.nav{
    position: sticky;
    top: 0;
}

.nav ul{
    background-color: rgb(77, 0, 0);
    padding: 0px;
    margin: 0px;
    font-size: 0;
}

.nav ul li{
    display: inline-block;
    margin: 0px;
    background-color: black;
    padding: 20px;
    font-size: 16px;
}
