.nav {
    position: sticky;
    top: 0;
    z-index: 9999;
}

.nav ul {
    background-color: rgb(77, 0, 0);
    padding: 0px;
    margin: 0px;
    font-size: 0;
}

.nav ul li {
    display: inline-block;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
}

.nav a {
    background-color: black;
    padding: 20px;
}

.nav a:hover {
    color: white;
    background-color: rgba(255, 0, 0, 0.822);
}

.nav a:active {
    opacity: 0.7;
}

