.flex {
    display: flex;
    flex-wrap: wrap;
}

.mi_nombre {
    padding: 50px;
    margin: 10px;
    background-color: darkred;
}

.estudios {
    padding: 50px;
    margin: 10px;
    background-color: darkred;
}