.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mi_nombre {
    padding: 60px;
    margin: 10px;
    background-color: darkred;
    width: 100px;
    height: 100px;

    transition: width 2s;
}

.mi_nombre:hover {
    width: 200px;
}

.estudios {
    padding: 60px;
    margin: 10px;
    background-color: darkred;
    width: 100px;
    height: 100px;
    transition: width 2s;
}


.estudios:hover {
    width: 200px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.transicion {
    padding: 50px;
    margin: 10px;
    background-color: darkred;
    width: 100%;
    text-align: center;
    position: relative;
    margin: 100px;
}


.fotoctf {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
    width: max-content;
    height: max-content;
}

.transicion:hover .fotoctf {
    display: block;
}