.characters-flex {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.character-card{
    opacity: 0.7;
}
.character-card:hover{
    opacity: 1;
}
/* Media query de móviles */

@media screen and (max-width: 575px) {
    .character-card {
        width: 100%;
    }

    .card-content img {
        width: 200px;
    }

    .card-title {
        font-size: large;
    }
}